/*  
    Custom youtube stylesheet.
    Github Repo: https://github.com/kolop315/Youtube-Stylesheet
*/

:root{
  --like-color: var(--google-blue-500);
  --like-hover-color: var(--google-blue-300);
  --like-bar-color: var(--google-green-500);
  --dislike-color: var(--google-red-500);
  --dislike-hover-color: var(--google-red-300);
  --dislike-bar-color: var(--google-red-500);
  --comment-author-color: var(--yt-spec-text-primary);
  --comment-badge-color: var(--google-blue-500);

  --sentiment-width: 300px;
  --sentiment-height: 12px;
  --sentiment-radius: 4px;
}

/* Color when hovering over like buttons */
ytd-toggle-button-renderer:hover a #button[aria-label^="like"],
#like-button:hover{
  color: var(--like-hover-color);
}

/* Color when hovering over dislike buttons */
ytd-toggle-button-renderer:hover a #button[aria-label^="dislike"],
#dislike-button:hover{
  color: var(--dislike-hover-color);
}

/* Color when a like button is pressed */
#button[aria-label^="like"][aria-pressed="true"]{
  color: var(--like-color);
}

/* Color when a dislike button is pressed */
#button[aria-label^="dislike"][aria-pressed="true"]{
  color: var(--dislike-color);
}

/* like/dislike counts don't change color when the like/dislike button is pressed */
a #text[aria-label*="likes"]{
  color: var(--yt-spec-text-secondary);
}

/* Sentiment bar size and colors */
#sentiment{
  background-color: var(--dislike-bar-color);
  border: 0px;
  border-radius: var(--sentiment-radius);
  height: var(--sentiment-height);
  padding: 0px;
  width: var(--sentiment-width);
}

/* Remove like bar container bakcground */
#sentiment #container{
  background: none;
}

/* Like bar size and colors */
#like-bar {
  background-color: var(--like-bar-color);
  border: 0px;
  border-bottom-left-radius: var(--sentiment-radius);
  border-top-left-radius: var(--sentiment-radius);
  height: var(--sentiment-height);
}

/* When 100% likes, both sides need to have the radius */
#like-bar[style*="width: 100%"]{
  border-radius: var(--sentiment-radius);
}

/* Additional space to fit the taller sentiment bar*/
#info{
  margin-bottom: var(--sentiment-height);
}

/* Comment users' name color */
#header-author a :first-child{
  color: var(--comment-author-color);
}

/* Comment users' badge color */
ytd-author-comment-badge-renderer svg{
  fill: var(--comment-badge-color);
  stroke: var(--comment-badge-color)
}
